  .login{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #173451;
  color: #FFFFFF;
  /* background: rgba(0, 0, 0, 0.5); */
  }
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  min-width: 300px;
  height: 100vh; /* Высота на весь экран */
}

.login_form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 20px;
}

.login_form label {
  margin-bottom: 5px;
}

.input_field {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000; 
}

.login_form button {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.login__nav_button:hover,
.login_form button:hover {
  background-color: #0056b3;
}
.login__nav_button{
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  min-width: 300px;
  flex: 0 1 40px;
  padding: 10px 15px;
  cursor: pointer;
}
.error_message{
  flex: 0 1 200px;
  display:flex;
  flex-direction: column;
  color: red;
}