  .register{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #173451;
  color: #FFFFFF;
  /* background: rgba(0, 0, 0, 0.5); */
  }

.register__form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
}

.register__form label {
  margin-bottom: 5px;
}

.register__form input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000; 
}

.register__form button {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.register__nav__button{
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  max-width: 300px;
  min-width:300px;
  padding: 10px 15px;
  cursor: pointer;
}
.register__nav__button:hover,
.register__form button:hover {
  background-color: #0056b3;
}
.error__message{
  flex: 0 1 auto;
  display:flex;
  flex-direction: column;
  color: red;
}
.recaptcha__container iframe{
  width: 300px;
  height: 78px;
}
.submit__button{
  margin-top: 10px;
}