.calculator {
  margin-top: 10px;
  height: auto;
  flex: 0 0 300px;
  padding: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
// @media (max-width: 768px) {
//   .calculator {display: none;}
// }
.display{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  font-size:  0.9rem;
  height: 25px;
  margin-bottom: 5px;
  color: black;
}
.display span{
  padding-right: 4px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.small__button {
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}
.small__button:hover {
  background-color: #e0e0e0;
}
.sizedButton{
  padding: 10px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #007BFF;
  color: #FFFFFF;
  transition: background-color 0.3s ease;
  grid-column: span 2;
}
.sizedButton:hover{
  background-color: #07284b;
}