.summary {
  flex: 1;
  border: 2px solid gold;
  overflow-y: auto;
  padding-left: 5px;
}
.summary div{
  padding-top: 10px;
}
.summary div span{
    margin-left: 15px;
    padding-right: 10px;
    background-color: bisque;
}
.income{
  color: green;
}
.expense{
  color: red;
}
.remain{
  color: black;
}
.summary ul li {
  margin-top: 5px;
  list-style-type: none;
}
.searchInBudget{}
.darkButton{
  margin-left: 15px;
  background-color: #15202B; /* Цвет кнопки */
  color: #FFFFFF; /* Цвет текста на кнопке */
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
.darkButton:hover{
  background-color: #344c64; /* Цвет кнопки */
  color: #FFFFFF;
}
.searchInBudget__field{
  
}
.expenciesByType{
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: auto;
  background-color: #173451;
}
.expenciesByTypeCheck{
  margin-right: 10px;
}
.expenciesByTypeColor{
  margin-left: 10px;
  width: 20px;
  height: 20px;
  padding: 0;
}
@media (max-width: 1010px) {
.summary {
    order:1;
    flex: none; /* Отменяем расширение на всю ширину для transactions и summary */
  }
}