.budget {
  display: flex;
  background-color: #15202B; /* Тёмно-синий цвет фона */
  color: #FFFFFF; /* Белый цвет текста */
  height: 100vh; /* Высота на весь экран */
  font-family: Arial, sans-serif; /* Шрифт */
}

.info__container {
  flex: 1; /* Расширяется на всю доступную ширину */
  padding: 20px; /* Отступы внутри контейнера с информацией */
  background-color: #007BFF;
  display: flex;
  flex-direction: row;
}
.transactions {
  border-top: 2px solid gold;
  border-left: 2px solid gold;
  border-bottom: 2px solid gold;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
}
.transaction__controls {
  background-color: #15202B; 
  color: #FFFFFF; 
  position: sticky;
  top: 0; 
  z-index: 1; 
  padding: 10px;
  button:last-child {
    margin: 10px
  }
}
.transactions li {
  flex: 1;
  background-color: bisque;
  margin-bottom: 5px; /* Добавляем отступ между строками */
  list-style-type: none; /* Убираем маркеры (точки) */
  padding: 5px; /* Добавляем отступ внутри элемента списка */
  border-bottom: 1px solid darkgoldenrod; /* Добавляем нижний бордюр */
  margin-right: 10px;
}

.summary {
  flex: 1;
  border: 2px solid gold;
  overflow-y: scroll;
  padding-left: 5px;
}
.summary div{
  padding-top: 10px;
}
.summary div span{
    margin-left: 15px;
    padding-right: 10px;
    background-color: bisque;
}
.income{
  color: green;
}
.expense{
  color: red;
}
.remain{
  color: black;
}
.summary ul li {
  margin-top: 5px;
  list-style-type: none;
}
@media (max-width: 768px) {
  .budget {
    flex-direction: column; /* Изменяем направление flex-контейнера на вертикальное */
  }

  .info__container {
    flex-direction: column; /* Изменяем направление flex-контейнера на вертикальное */
  }

  .transactions{
    flex: none;
    order:2
  }
  .summary {
    order:1;
    flex: none; /* Отменяем расширение на всю ширину для transactions и summary */
  }
  .transactions{
  border-top: none;
  border-left: 2px solid gold;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  }
  .transactions__records{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  }
}