.app__wrapper{
  background-color: #15202B;
}
.budget {
  display: flex;
  background-color: #15202B; 
  color: #FFFFFF; 
  height: 100vh; 
  font-family: Arial, sans-serif;
}
.form_bar{
  flex: 0 0 350px;
  margin: 20px;
}
.info__container {
  flex: 1; /* Расширяется на всю доступную ширину */
  padding: 20px;
  background-color: #007BFF;
  display: flex;
  flex-direction: row;
}
.transactions {
  border-top: 2px solid gold;
  border-left: 2px solid gold;
  border-bottom: 2px solid gold;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: relative;
  text-transform: capitalize;
}
.transactions li {
  flex: 1;
  background-color: bisque;
  margin-bottom: 5px; 
  list-style-type: none; 
  padding: 5px; 
  border-bottom: 1px solid darkgoldenrod; 
  margin-right: 10px;
}
@media (max-width: 1010px) {
  .app__wrapper{
    background-color: #15202B;
  }
  .budget {
    flex-direction: column;
    height: auto;
  }
  .budget:empty{
    background-color: #15202B;
    display:none;
  }

  .info__container {
    flex-direction: column; /* Изменяем направление flex-контейнера на вертикальное */
    overflow-y: scroll;
  }
  .form_bar:empty {
    display: none; /* Оставляем скрытым, если у элемента нет содержимого */
  }
  .transactions{
    flex: none;
    order:2
  }

  .transactions{
  border-top: none;
  border-left: 2px solid gold;
  border-right: 2px solid gold;
  border-bottom: 2px solid gold;
  }
  .transactions__records{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  }
}