.editing-transaction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  form {
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  textarea,
  button {
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #007bff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  .exit-button__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .exit-button{
    width: 200px;
  }
}